<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRThtgN-TXDFmFSlj9JCBPxiw_RzfBWNEd0ICq
      F_lHm4ck9ORVoQBsKRCzwG3s3jPU35f0&usqp=CAU"
      alt=""
      height="200px"
      srcset=""
    >
  </div>
  <div class="big-card__title">
    <h1><a href="#"> Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
        alteration in some form, by injected humour, or randomised words which don't look even slightly
        believable. If you are going to use a passage of Lorem Ipsum.
      </a>
    </p>
  </div>
</div>
